:root {
  --primary-font: Montserrat;
  --light-gray-2: #ececec;
  --light-text-color: #fff;
  --primary-color: #ff6551;
  --secondary-text-color-2: #ffc652;
  --danger-text-color: #e74040;
  --faded-secondary-color-2: #b6d7ff;
  --second-text-color: #737373;
  --light-background-color: #fff;
  --btn-focus-color:#b04c3f;
  --log-btn-focus:#a09f9f;
  --text-color:#252B42;
  --primary-text-color:#FF6551;
}

body {
  font-family: var(--primary-font);
  background-color: var(--light-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  max-width: 1046px;
  padding: 0 15px;
  margin: 0 auto;
}

/**
  |============================
  | HEADER
  |============================
*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
}

.header-container {
  height: 58px;
  display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
  margin-right: 87px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: var(--light-gray-2);
}

 .logo:hover, .logo:focus{
 color: var(--light-text-color); 
 }

.navigation{
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 21px;
}

.nav-link {
  color: var(--light-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.nav-link:hover, .nav-link:focus{
   color: var(--log-btn-focus); 
}

.button-list {
  display: flex;
  gap: 45px;
  align-items: center;
}

.login-btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: var(--light-text-color);
  background: none;
  border: none;
  cursor: pointer;
}

.login-btn:hover, .login-btn:focus{
    color: var(--log-btn-focus);
}

.head-join-btn {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
  gap: 15px;
  background-color: var(--primary-color);
  color: var(--light-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 52px;
  width: 138px;
}

.head-join-btn:hover, .head-join-btn:focus{
    background-color: var(--btn-focus-color);
}

.login-arrow {
  width: 12px;
  height: 10px;
  fill: var(--light-text-color);
}

/**
  |============================
  | FIRST SECTION
  |============================
*/

 .first-section{
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),  url(../images/first-photo.jpg);
    background-size: 100% 897px;
    background-repeat: no-repeat;
}

.first-container{
    padding-bottom: 80px;
}

.middle-text-container {
  padding-top: 200px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}

.main-fifth-heading {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: var(--secondary-text-color-2);
}

.main-first-heading {
  color: var(--light-text-color);
  text-align: center;
  font-style: normal;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  width: 542px;
}

.main-fourth-heading {
  color: var(--light-text-color);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.first-btn {
  display: flex;
  padding: 15px 40px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background: var(--primary-color);
  border: none;
  color: var(--light-text-color);
  text-align: center;s
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.first-btn:hover, .first-btn:focus{
    background-color: var(--btn-focus-color);
}


.three-list{
display: flex;
gap: 30px;
}

.three-list-item{
display: flex;
width: 328px;
padding: 35px 40px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
background: var(--light-background-color);
box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.three-icons-container{
display: flex;
padding: 22px 19px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
background-color: var(--faded-secondary-color-2);
border-radius: 10px;
}

.three-icons{
fill: var(--danger-text-color);
}

.three-list-heading{
color: var(--text-color);
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; 
letter-spacing: 0.1px;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.three-list-heading::before{
    content: "";
    position: absolute;
    top: 42px;
    border-bottom: 2px solid var(--danger-text-color);
    width: 50px;
    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.three-list-p{
color: var(--second-text-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.2px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.three-list-item:focus, .three-list-item:hover{
background-color:var(--primary-color);
}
     
.three-list-item:focus .three-list-heading,
.three-list-item:hover .three-list-heading, .three-list-item:focus .three-list-p,
.three-list-item:hover .three-list-p {
    color: var(--light-text-color);
}


.three-list-item:focus .three-list-heading::before,
.three-list-item:hover .three-list-heading::before{
    border-bottom: 2px solid var(--light-text-color);
}

/**
  |============================
  | WATCH SECTION
  |============================
*/

.watch-container{
      display: flex;
     align-items: center;
}

.watch-picture-container{
    position: relative;
    max-width: 544px;
    margin-right: 100px;
}

.watch-picture{
width: 377px;
height: 440px;
}

.watch-text-container{
display: flex;
width: 381px;
flex-direction: column;
align-items: flex-start;
gap: 35px;
}

.watch-link{
color: var(--primary-text-color);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.2px;
display: flex;
align-items: center;
gap: 10px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.watch-link:focus, .watch-link:hover{
   color:var(--btn-focus-color); 
}

.watch-icon{
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.watch-link:focus .watch-icon, .watch-link:hover .watch-icon{
    fill: var(--btn-focus-color);
}

.watch-second-head{
color: var(--text-color);s
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 50px;
letter-spacing: 0.2px;
position: relative;
}

.watch-second-head::before{
    content: "";
    position: absolute;
    top: -35px;
    border-top: 7px solid var(--danger-text-color);
    width: 94px;
}

.watch-p{
 color: var(--second-text-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: 0.2px;
}

/**
  |============================
  | CLIENT SECTION
  |============================
*/



.client-link{
color: var(--primary-text-color);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.2px;
display: flex;
align-items: center;
gap: 10px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:focus, .client-link:hover{
   color:var(--btn-focus-color); 
}

.client-icon{
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:focus .client-icon, .client-link:hover .client-icon{
    fill: var(--btn-focus-color);
}